<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block tittle %}
            Django User Accounts
        {% endblock %} 
    </title>

    {% load static%}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">

   
<body>
    <div class="container">
        <header>
            <h1>
                Django User Accounts
            </h1>
        </header>
        <hr>
            <main>
                {% block content %}
                {% endblock%}
            </main>
        <hr>
             
    </div>

    
    
</body>
</html>